{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <title>{% block title %}Melissa Abreu{% endblock title %}</title>
        {% block head %} 
        {% endblock head %}
    </head>
    
    <body>
        <header>
            <div class="header-logo-container">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Melissa Abreu Logo" />
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Me</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'resume' %}">Resume</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %} 
            {% endblock content %}
        </main>
        <footer>
            <p>&copy; 2025 Melissa Abreu. Built with Django.</p>
        </footer>
    </body>
</html>
